body {
  /* margin: 0; */
  font-size: 25px;
  background-color: antiquewhite;
  font-family: 'Poppins', sans-serif;
}

h1 {
  margin: 50px 0px 0px 50px;
}
h3 {
  margin: 0px 0px 20px 50px;
}

.window {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-top: solid 3px #1D7D3A;
}


.taskTile {
  width: 1000px;
  height: 150px;
  margin: 25px 0px;
  border-radius: 25px;
  background-color: #1D7D3A;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn {
  background-color: grey;
  border: none;
  color: white;
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
  margin: 5px;
  border-radius: 10px;
  width: 100px
}

.addTask {
  display: flex;
  flex-direction: column;
}

input {
  width: 100%;
  height: 30px;
  border-radius: 10px;
  margin: 0px 0px 10px 0px;
}

.enter {
  margin: 20px 40% 0px 40%;
}